out
dist
node_modules
.vscode-test/
*.vsix
.DS_Store
test_files/
src/markdownParser.js
src/markdownParser.js.map
src/kanbanWebviewPanel.js.map
src/kanbanWebviewPanel.js
src/extension.js.map
src/extension.js
src/test/extension.test.js.map
src/test/extension.test.js
.*.md
tools/reports
code-analysis-report.json
tests/kanban-graph-tools/_Export
tests/kanban-graph-tools/Media-kanban-graphs
tests/kanban-graph-tools/kanban-graphs-*
logs/
tests/kanban-include-tests/root/.backups
tmp
_Export/
*-[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]/
tests/kanban-huge-test
*-unsavedchanges.md
.*.md.mediacache.json
drawio-cache/
*.drawio.bkp
tests/kanban-presentation-tests/Media/Proteus-Nodeland_preview-[h2OqQ6-ESp4]-480p.mp4
*.mp4
*.zip
*-EXPORT-[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]T[0-9][0-9][0-9][0-9][0-9][0-9]/
